﻿
@{
    ViewBag.Title = "TripIn";
}
<br /><br />
<style>
    span {
        color: #18BC9C;
    }

    h2 {
        color: #18BC9C;
    }
</style>
<h1 align="center">Trip<span>In</span></h1>
<h6 align="center"><i>Lema</i></h6>
<br />
@*//Carousel*@
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="@Url.Content("~/Content/assets/")vila.jpg" alt="Chania">
        </div>

        <div class="item">
            <img src="@Url.Content("~/Content/assets/")vila.jpg" alt="Chania">
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<br /><br /><br />
<h2 class="section-title" align="center">
    Principais Locais a Visitar
</h2>
<br /><br /><br />
<div class="col-sm-4">
    <img src="@Url.Content("~/Content/assets/")praia.jpg" alt="visit-image" class="img-responsive visit-item" onmouseover="this.src='@Url.Content("~/Content/assets/")praia2.png';" onmouseout="this.src='@Url.Content("~/Content/assets/")praia.jpg';">
</div>
<div class="col-sm-4">
    <img src="@Url.Content("~/Content/assets/")casino.jpg" alt="visit-image" class="img-responsive visit-item">
</div>
<div class="col-sm-4">
    <img src="@Url.Content("~/Content/assets/")ruadajunqueira.jpg" alt="visit-image" class="img-responsive visit-item">
</div>

<br /><br /><br />




