﻿@model tripin.Models.Ponto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ponto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nome_ponto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome_ponto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipo_ponto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo_ponto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descricao_ponto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descricao_ponto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.latitude_ponto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.latitude_ponto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.longitude_ponto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.longitude_ponto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.localidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.localidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.url)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PontoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
