﻿@model IEnumerable<tripin.Models.Ponto>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nome_ponto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipo_ponto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descricao_ponto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.latitude_ponto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.longitude_ponto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.localidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.url)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nome_ponto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipo_ponto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descricao_ponto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.latitude_ponto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.longitude_ponto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.localidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.url)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PontoID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PontoID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PontoID })
        </td>
    </tr>
}

</table>
