﻿@model IEnumerable<tripin.Models.Rota>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nome_rota)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lat1_rota)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lat2_rota)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lat3_rota)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lat4_rota)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lat5_rota)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lon1_rota)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lon2_rota)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lon3_rota)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lon4_rota)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lon5_rota)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nome_rota)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lat1_rota)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lat2_rota)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lat3_rota)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lat4_rota)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lat5_rota)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lon1_rota)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lon2_rota)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lon3_rota)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lon4_rota)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lon5_rota)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RotaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.RotaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RotaID })
        </td>
    </tr>
}

</table>
